@model Lab3AppEngineFlex.Models.GImages
@*<form method="post" enctype="multipart/form-data" action="/Gallery/Index">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="files" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>*@


    
    <title>Share your experience with us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #DBE4E1;
        }
    </style>


    <div class="container">
        <div style="max-width: 650px; margin: auto;">
            <h1 class="page-header">Share you experience with us! Drop a pic!</h1>
            <p class="lead">Select an image file</p>
            <form id="upload-image-form" action="/Gallery/Index" method="post" enctype="multipart/form-data">
                <div id="image-preview-div" style="display: none">
                    <label for="exampleInputFile">Selected image:</label>
                    <br>
                    <img id="preview-img" src="noimage">
                </div>
                <div class="form-group">
                    <input type="file" name="files" id="file" required>
                </div>
                <button class="btn btn-lg btn-primary" id="upload-button" type="submit" disabled>Upload image</button>
            </form>
            <br>
            <div class="alert alert-info" id="loading" style="display: none;" role="alert">
                Uploading image...
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
            <div id="message"></div>
            <hr />
            <div class="col-md-8">
                <h2>Uploads by customers</h2>
                @foreach (string link in Model.URL)
            {
                    <img style="padding-top:10px;" class="img-responsive" src="@link" />
                    <hr />

                }
            </div>
           
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="~/js/upload-image.js"></script>

